/* Mobile */
.menu__list__item, .menu__list__item--contato {
    display: none;
}

.menu__list__item__contato {
    padding-left: 2rem; 
    font-weight: 600;
}

/* Desktop y tablet*/
@media (min-width: 1100px) {
    .menu__list {
        display: flex;
        justify-content: space-around;
    }

    .menu__list__item, .menu__list__item--contato {
        padding-left: 2rem;
        display: flex;
    }

    .menu__list__item--contato{
        font-weight: 600;
    }
    .menu__list__item__contato {
        display: none;
    }    
}