/* Mobile y Tablet */
.experience__box {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

/* Desktop */
@media (min-width: 1100px) {
    .experience__box {
        align-items: center;
        flex-direction: row;
    }

    .experience__box--revert {
        flex-direction: row-reverse;
    }
}